<!-- GRID -->
<section class="favorites">
  <!-- HERO -->
  <div class="favorites-hero">
    <img
      src="/images/hero-favorites.jpg"
      alt="Favorite recipes hero image"
      class="favorites-hero-img"
    />
  </div>

  <!-- CATEGORIES -->
  <div class="favorites-categories js-favorites-categories"></div>

  <!-- EMPTY STATE -->
  <div class="favorites-empty js-favorites-empty is-hidden">
    <div class="empty-icon"></div>
    <p>
      It appears that you haven't added any recipes to your favorites yet. To
      get started, you can add recipes that you like to your favorites for
      easier access in the future.
    </p>
  </div>

  <!-- GRID -->
  <ul class="favorites-grid js-favorites-list"></ul>
</section>
