<header class="header">
  <div class="container header-container">
    <div class="mobil-menu">
      <!-- Exit ikonu mobil -->
      <a class="exit-icon-wrapper">
        <svg class="exit-icon" width="32" height="32">
          <use href="img/header-symbol-defs.svg#icon-exit"></use>
        </svg>
      </a>
      <!-- liste mobil -->
      <nav class="mobil-nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="./index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="./favorites.html" class="nav-link">Favorites</a>
          </li>
        </ul>
      </nav>
      <!-- Tema değiştirme mobil -->
      <div class="mobile-toggle-switch" id="mobile-toggle">
        <div class="toggle-thumb"></div>
      </div>
    </div>

    <!-- liste -->
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="./favorites.html" class="nav-link">Favorites</a>
        </li>
      </ul>
    </nav>

    <!-- Logo-->
    <a href="./index.html" class="logo"
      ><span class="colored-logo">tasty</span>treats.</a
    >

    <!-- İkonlar-->
    <div class="icons">
      <div class="shopping-cart-icon-wrapper">
        <svg class="shopping-cart-icon" width="24" height="24">
          <use href="img/header-symbol-defs.svg#icon-shopping-cart"></use>
        </svg>
      </div>

      <div class="menu-icon-wrapper">
        <svg class="menu-icon" width="32" height="32">
          <use href="img/header-symbol-defs.svg#icon-menu"></use>
        </svg>
      </div>
      <!-- Tema değiştirme -->
      <div class="desktop-toggle-switch" id="desktop-toggle">
        <div class="toggle-thumb"></div>
      </div>
    </div>
  </div>
  <script type="module" src="./js/header.js"></script>
</header>
