<link rel="stylesheet" href="./css/home-hero.css" />

<section class="container home-hero">
  <div class="home-hero-text">
    <h1>
      LEARN TO COOK <span class="home-highlight">TASTY TREATS'</span> CUSTOMIZABLE
      MASTERCLASS
    </h1>
    <p>
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>
    <button class="home-hero-btn">Order now</button>
  </div>

  <!-- Karosel Kısmı -->
  <section class="home-carousel-section">
    <div class="home-slider">
      <div class="home-slides-wrapper">
      </div>
        </div>

      <div class="home-dots">
      </div>
    </div>

    <script type="module" src="./js/home-hero.js"></script>
  </section>
</section>