<link rel="stylesheet" href="./css/home-hero.css" />

<section class="container home-hero">
  <div class="home-hero-text">
    <h1>
      LEARN TO COOK <span class="home-highlight">TASTY TREATS'</span> CUSTOMIZABLE
      MASTERCLASS
    </h1>
    <p>
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>
    <button class="home-hero-btn">Order now</button>
  </div>

  <!-- Karosel Kısmı -->
  <section class="home-carousel-section">
    <div class="home-slider">
      <div class="home-slides-wrapper">
        <div class="home-slides">
          <div class="home-slide small">
            <img
              src="/img/HeroMobile1.webp"
              srcset="
                /img/HeroMobile1.webp 480w,
                /img/HeroDesktop1.webp 768w,
                /img/HeroDesktop1.webp 1280w
              "
              sizes="(max-width: 480px) 480px,
                     (max-width: 768px) 768px,
                                     1280px"
              alt="cheff"
            />
          </div>

          <div class="home-slide-main">
            <div class="home-slide-bg">
              <img src="/img/HeroDesktop1.2.png" alt="main cook" />
              <div class="home-slide-text">
                <p>GRILLED, SMOKY, DELICIOUS BARBECUE</p>
                <p>Spanish</p>
              </div>
            </div>
          </div>

          <div class="home-slide-partial">
            <img src="/img/HeroDesktop3.3.png" alt="zoomed cook" />
          </div>
        </div>

        <div class="home-slides">
          <div class="home-slide small">
            <img
              src="/img/HeroMobile2.webp"
              srcset="
                /img/HeroMobile2.webp 480w,
                /img/HeroDesktop2.webp 768w,
                /img/HeroDesktop2.webp 1280w
              "
              sizes="(max-width: 480px) 480px,
                     (max-width: 768px) 768px,
                                     1280px"
              alt="cheff"
            />
          </div>

          <div class="home-slide-main">
            <div class="home-slide-bg">
              <img src="/img/HeroDesktop.2.3.png" alt="main cook" />
              <div class="home-slide-text">
                <p>Hot, cheesy and satisfying pizza</p>
                <p>Italian</p>
              </div>
            </div>
          </div>

          <div class="home-slide-partial">
            <img src="/img/HeroDesktop2.2.jpg" alt="zoomed cook" />
          </div>
        </div>

        <div class="home-slides">
          <div class="home-slide small">
            <img
              src="/img/HeroDesktop3.webp"
              srcset="
                /img/HeroMobile3.webp 480w,
                /img/HeroDesktop3.webp 768w,
                /img/HeroDesktop3.webp 1280w
              "
              sizes="(max-width: 480px) 480px,
                     (max-width: 768px) 768px,
                                     1280px"
              alt="cheff"
            />
          </div>

          <div class="home-slide-main">
            <div class="home-slide-bg">
              <img src="/img/HeroDesktop3.2.png" alt="main cook" />
              <div class="home-slide-text">
                <p>Fluffy and sweet pancakes</p>
                <p>American</p>
              </div>
            </div>
          </div>

          <div class="home-slide-partial">
            <img src="/img/HeroDesktop3.3.jpg" alt="zoomed cook" />
          </div>
        </div>
      </div>

      <div class="home-dots">
        <span class="home-dot active"></span>
        <span class="home-dot"></span>
        <span class="home-dot"></span>
      </div>
    </div>

    <script type="module" src="./js/home-hero.js"></script>
  </section>
</section>