<link rel="stylesheet" href="./css/home-hero.css" />
<section class="container home-hero">
  <div class="home-hero-text">
    <h1>
      LEARN TO COOK <span class="home-highlight">TASTY TREATS'</span> CUSTOMIZABLE
      MASTERCLASS
    </h1>
    <p>
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>
    <button class="home-hero-btn">Order now</button>
  </div>

  <section class="home-carousel-section">
    <div class="home-slider">
      <div class="home-slides-wrapper">
        <div class="home-slides">
          <div class="home-slide small">
            <img
              src="./img/HeroMobile1.png"
              srcset="
                ./img/HeroMobile1.png   480w,
                ./img/HeroDesktop1.png  768w,
                ./img/HeroDesktop1.png 1280w
              "
              sizes="(max-width: 480px) 480px,
                   (max-width: 768px) 768px,
                                     1280px"
            alt="cheff"
          />
          </div>
          <div class="home-slide-main">
            <div class="home-slide-bg">
              <img src="./img/HeroMobile1.2.png" alt="main meal" />
              <div class="home-slide-text"></div>
            </div>
          </div>
          <div class="home-slide-partial">
            <img src="./img/HeroMobile1.3.png" alt="zoomed meal" />
          </div>
        </div>

        <div class="home-slides">
          <div class="home-slide small">
            <img
              src="./img/HeroMobile2.png"
              srcset="
                ./img/HeroMobile2.png   480w,
                ./img/HeroDesktop2.png  768w,
                ./img/HeroDesktop2.png 1280w
              "
              sizes="(max-width: 480px) 480px,
                   (max-width: 768px) 768px,
                                     1280px"
            alt="cheff"
          />
          </div>
          <div class="home-slide-main">
            <div class="home-slide-bg">
              <img src="./img/HeroMobile2.2.png" alt="main meal" />
              <div class="home-slide-text"></div>
            </div>
          </div>
          <div class="home-slide-partial">
            <img src="./img/HeroMobile2.3.png" alt="zoomed meal" />
          </div>
        </div>

        <div class="home-slides">
          <div class="home-slide small">
            <img
              src="./img/HeroMobile3.png"
              srcset="
                ./img/HeroMobile3.png   480w,
                ./img/HeroDesktop3.png  768w,
                ./img/HeroDesktop3.png 1280w
              "
              sizes="(max-width: 480px) 480px,
                   (max-width: 768px) 768px,
                                     1280px"
            alt="cheff"
          />
          </div>
          <div class="home-slide-main">
            <div class="home-slide-bg">
              <img src="./img/HeroMobile3.2.png" alt="main meal" />
              <div class="home-slide-text"></div>
            </div>
          </div>
          <div class="home-slide-partial">
            <img src="./img/HeroMobile3.3.png" alt="zoomed meal" />
          </div>
        </div>
      </div>

      <div class="home-dots">
        <span class="home-dot active"></span>
        <span class="home-dot"></span>
        <span class="home-dot"></span>
      </div>
    </div>
    <script type="module" src="./js/home-hero.js"></script>
  </section>
</section>