@import url('./reset.css');
@import url('./base.css');
@import url('./themes.css');

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.icons {
  display: flex;
  align-items: center;
  gap: 14px;
}
.shopping-cart-icon,
.menu-icon {
  vertical-align: middle;
}
.shopping-cart-icon {
  fill: var(--menu-svg-bg-color); /* içi */
  stroke: var(--menu-svg-color); /* sınır */
  stroke-width: 1.8px;
}
.menu-icon {
  stroke: var(--menu-svg-color);
  stroke-width: 2px;
}
.shopping-cart-icon:hover,
.menu-icon:hover {
  stroke: #9bb537;
}
.logo {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--logo-text-color);
}
.colored-logo {
  color: #9bb537;
}
.mobil-menu,
.mobil-nav,
.nav,
.desktop-toggle-switch {
  display: none;
}
.menu-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: left 0.3s ease;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--mobil-menu-bgcolor);
}
.exit-icon {
  stroke: var(--mobil-menu-svg-color);
}
.exit-icon-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
}
.nav-list {
  text-align: center;
}
.mobil-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.mobil-nav .nav-list .nav-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--mobil-menu-text-color);
}
.mobil-nav .nav-list .nav-item:active,
.mobil-nav .nav-list .nav-item:hover {
  font-weight: 500;
  color: var(--mobil-menu-active-text-color);
}

.mobile-toggle-switch {
  border-radius: 60px;
  width: 46px;
  height: 20px;
  box-shadow: 7px 5px 15px 0 var(--toggle-box-shadow-color);
  background: var(--toggle-bg);
  cursor: pointer;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.mobile-toggle-switch .toggle-thumb {
  width: 18.8px;
  height: 18.8px;
  background-color: var(--toggle-thumb-color);
  box-shadow: 4px 4px 15px 0 rgba(243, 243, 243, 0.25);
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: transform 0.3s ease;
}

@media (min-width: 768px) {
  .header-container {
    padding: 28px 32px 20px 32px;
  }

  .menu-active,
  .menu-icon-wrapper {
    display: none;
  }
  .nav {
    display: flex;
  }
  .nav .nav-list {
    display: flex;
    gap: 16px;
  }
  .nav .nav-item {
    font-size: 12px;
    color: var(--menu-text-color);
  }
  .nav .nav-item:hover,
  .nav .nav-item:active {
    font-weight: 500;
    color: var(--menu-activ-text-color);
  }
  .logo {
    font-size: 18px;
    line-height: 111%;
  }
  .icons {
    gap: 18px;
  }
  .desktop-toggle-switch {
    display: block;
    border-radius: 60px;
    width: 46px;
    height: 20px;
    box-shadow: 7px 5px 15px 0 var(--toggle-desktop-box-shadow-color);
    background: var(--toggle-bg);
    cursor: pointer;
    position: relative;
  }
  .desktop-toggle-switch .toggle-thumb {
    width: 18.8px;
    height: 18.8px;
    background-color: var(--toggle-thumb-color);
    box-shadow: 4px 4px 15px 0 rgba(243, 243, 243, 0.25);
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform 0.3s ease;
  }
}

@media (min-width: 1280px) {
  .header-container {
    padding: 40px 100px 20px 100px;
  }

  .icons {
    gap: 24px;
  }
}

body[data-theme='dark'] .toggle-thumb {
  transform: translateX(26px);
}
