.home-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 20px 60px 20px;
}
.home-hero-text {
  width: 100%;
  text-align: left;
  margin-bottom: 48px;
}

.home-hero-text h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.4;
}

.home-hero-text .home-highlight {
  color: #8dc63f;
  font-weight: 400;
  font-style: italic;
}

.home-hero-text p {
  margin: 15px 0;
  font-size: 14px;
  color: #444;
}
.home-hero-btn {
  width: 111px;
  height: 37px;
  border: 1px solid #8dc63f;
  background: transparent;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  transition: 0.3s;
  color: var(--logo-text-color);
  margin-top: 15px;
}

.home-hero-btn:hover {
  background: #8dc63f;
  color: #fff;
}

/* Carousel */
.home-carousel-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-slider {
  width: 100%;
  overflow: hidden;
}

.home-slides {
  display: none;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
}

@media (min-width: 768px) {
  .home-hero {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    width: 100%;
  }

  .home-slide-partial img {
    height: 100%;
  }
  .home-hero-text {
    flex: 0 0 auto;
    max-width: 500px;
    text-align: left;
    margin: 0;
    padding-right: 30px;
  }

  .home-hero-text h1 {
    font-size: 36px;
    line-height: 1.2;
    white-space: normal;
  }

  .home-hero-text p {
    font-size: 16px;
    line-height: 1.5;
    white-space: normal;
  }
  /* feature/favorites */

  /* Popup */
  .home-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .home-popup-content {
    background: #fff;
    padding: 30px 25px;
    border-radius: 12px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    position: relative;
  }

  .home-popup-close {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
  }

  .home-popup h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
  }

  .home-popup-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: var(--onyx-50-opacity);
  }

  .home-popup-form input,
  .home-popup-form textarea {
    width: 100%;
    height: 48px;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
  }

  .home-popup-form textarea {
    resize: vertical;
    min-height: 80px;
  }

  .home-popup-form button {
    width: 100%;
    padding: 12px;
    background-color: #a8c43b; /* görseldeki yeşil ton */
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }

  .home-popup-form button:hover {
    background-color: #95b12f;
  }
  /*Popup Finish*/

  /* Dots */
  .home-dots {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .home-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .home-dot.active {
    background-color: #8dc63f;
  }
  /* Dots Finish */
}
