.CategoriesSec {
  width: 326px;
  margin-bottom: 40px;
}

body[data-theme='dark'] .CategoriesBtn.Selected {
  color: #fff;
  background-color: var(--pistachio);
  border-color: var(--pistachio);
}

.CategoriesBtn.Selected {
  color: #fff;
  background-color: var(--pistachio);
  border-color: var(--pistachio);
}

.CategoryItemBtn.Selected {
  color: var(--pistachio);
}

body[data-theme='dark'] .CategoryItemBtn.Selected {
  color: var(--pistachio);
}

body[data-theme='dark'] .CategoryItemBtn {
  color: var(--white-30-opacity);
}

body[data-theme='dark'] .CategoriesBtn {
  color: var(--white-50-opacity);
  border-color: var(--white-20-opacity);
}

body[data-theme='dark'] .CategoriesBtn:hover,
body[data-theme='dark'] .CategoriesBtn:active,
body[data-theme='dark'] .CategoriesBtn:focus {
  color: #fff;
}

body[data-theme='dark'] .CategoryItemBtn:hover,
body[data-theme='dark'] .CategoryItemBtn:active,
body[data-theme='dark'] .CategoryItemBtn:focus {
  color: var(--pistachio);
}

.CategoriesBtn {
  color: var(--onyx-50-opacity);
  padding: 14px 29px;
  border: 1px solid var(--onyx-20-opacity);
  border-radius: 15px;
  font-size: 18px;
  line-height: 1;
  background-color: transparent;
  margin: 0 0 24px 0;
}

.CategoryItemBtn {
  display: block;
  color: var(--onyx-30-opacity);
  font-size: 14px;
  line-height: 18px;
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.CategoriesList {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 198px;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-right: 6px;
  /* scrollbar için iç boşluk */
}

.CategoriesBtn:hover,
.CategoriesBtn:active,
.CategoriesBtn:focus {
  background-color: var(--pistachio);
  border-color: var(--pistachio);
  color: var(--white-smoke);
}

.CategoryItem {
  font-size: 14px;
  line-height: 18px;
}

.CategoryItemBtn:hover,
.CategoryItemBtn:active,
.CategoryItemBtn:focus {
  color: var(--pistachio);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--onyx-10-opacity);
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: var(--onyx-10-opacity);
}

body[data-theme='dark'] ::-webkit-scrollbar-thumb {
  background-color: var(--white-20-opacity);
  /* kaydırıcı rengi */
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  .CategoriesList {
    gap: 24px;
    height: 416px;
  }

  .CategoriesBtn {
    padding: 14px 26px;
    margin-bottom: 30px;
  }

  .CategoryItemBtn {
    font-size: 16px;
    line-height: 20px;
  }

  .CategoriesSec {
    width: 176px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1024px) {
  .CategoriesBtn {
    margin-bottom: 42px;
  }

  .CategoriesSec {
    width: 235px;
  }
}
