.recipeList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style-type: none;
  padding: 0;
}

.no-recipes-found {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 100%;
}

.no-recipes-found p {
  font-size: 18px;
  font-weight: 500;
  color: rgb(5, 5, 5);
  text-align: center;
}

.recipeCard {
  width: 335px;
  height: 335px;
  padding: 16px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.likeButton {
  width: 22px;
  height: 22px;
  margin-left: 281px;
}

.like-icon {
  width: 22px;
  height: 22px;
}

.rest {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recipeTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  color: var(--white-smoke);
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.recipeDescription {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--white-smoke);
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ratingandbutton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.recipeRating {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.rating {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--white-smoke);
  margin: 0;
}

.stars {
  display: flex;
  gap: 3px;
  align-items: center;
}

.star-filled {
  width: 14px;
  height: 14px;
  fill: #eea10c;
}

.star-empty {
  width: 14px;
  height: 14px;
  fill: rgba(248, 248, 248, 0.1);
}

.seeRecipe {
  border-radius: 8px;
  width: 89px;
  height: 31px;
  background: var(--pistachio);
  font-weight: 500;
  font-size: 12px;
  color: var(--white-smoke);
  border: none;
}

/* PAGINATION */
#pagination-mobile-desktop,
#pagination-tablet {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 20px;
  justify-content: center;
}

.firstandprev,
.pagenumbers,
.nextandlast {
  display: flex;
  align-items: center;
  gap: 4px;
}

.pagination button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px rgba(5, 5, 5, 0.3); /* NİYE ÇALIŞMIYOR???*/
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22222;
  color: var(--onyx);
  background-color: white;
}

.pagination button:disabled {
  background-color: var(--onyx);
  border: none;
  color: rgba(248, 248, 248, 0.5);
}

.firstpage:not(:disabled),
.previouspage:not(:disabled),
.nextpage:not(:disabled),
.lastpage:not(:disabled) {
  background-color: var(--pistachio);
  border: none;
}

.pagenumber--active {
  background: var(--pistachio) !important;
  border: none;
}

#pagination-tablet {
  display: none;
}

/* #region media queries for tablets */
@media (min-width: 768px) {
  .recipeList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .recipeCard {
    width: 240px;
    height: 264px;
  }

  .likeButton {
    margin-left: 186px;
  }

  .star-filled,
  .star-empty {
    width: 12px;
    height: 12px;
  }

  #pagination-mobile-desktop {
    display: none;
  }

  #pagination-tablet {
    display: flex;
    gap: 24px;
    padding-top: 32px;
    padding-bottom: 100px;
  }

  .firstandprev,
  .nextandlast {
    gap: 8px;
  }

  .pagenumbers {
    gap: 10px;
  }
}
/* #endregion */

/* #region media queries for desktop */
@media (min-width: 1158px) {
  .recipeCard {
    width: 250px;
    height: 287px;
  }

  .likeButton {
    margin-left: 196px;
  }

  .star-filled,
  .star-empty {
    width: 14px;
    height: 14px;
  }

  #pagination-mobile-desktop {
    display: flex;
    padding-top: 64px;
    padding-bottom: 100px;
    gap: 24px;
  }

  #pagination-tablet {
    display: none;
  }
}
/* #endregion */
/* Dark theme */
body[data-theme='dark'] .no-recipes-found p {
  color: rgb(255, 255, 255);
}
