:root {
  /* HEADER BÖLÜMÜ */
  /* mobil */
  --logo-text-color: #050505;
  --menu-svg-color: #050505;
  --menu-svg-bg-color: #f8f8f8;
  --mobil-menu-bgcolor: #9bb537;
  --mobil-menu-svg-color: #f8f8f8;
  --mobil-menu-text-color: #f8f8f8;
  --mobil-menu-active-text-color: #fff;
  --toggle-bg: #cecdcd;
  --toggle-thumb-color: #f8f8f8;
  --toggle-box-shadow-color: rgba(160, 158, 160, 0.15);

  /* tablet */
  --menu-text-color: #050505;
  --menu-activ-text-color: #9bb537;
  --toggle-desktop-box-shadow-color: rgba(160, 158, 160, 0.4);
  /* HEADER BÖLÜMÜ SONU */

  /* GLOBAL */
  --page-bg: #ffffff;
  --text-color: #050505;
  /* GLOBAL SONU */

  /* FAVORITES BÖLÜMÜ */
  --category-btn-border: rgba(5, 5, 5, 0.2);
  --category-btn-color: rgba(5, 5, 5, 0.3);
  --empty-text-color: #050505;
  /* FAVORITES BÖLÜMÜ SONU */
}

body[data-theme='dark'] {
  /* HEADER BÖLÜMÜ */
  /* mobil */
  --logo-text-color: #fff;
  --menu-svg-color: #fff;
  --menu-svg-bg-color: #161616;
  --mobil-menu-bgcolor: #050505;
  --mobil-menu-svg-color: #f8f8f8;
  --mobil-menu-text-color: #f8f8f8;
  --mobil-menu-active-text-color: #9bb537;
  --toggle-bg: linear-gradient(
    91deg,
    #9bb537 0%,
    rgba(155, 181, 55, 0.69) 100%
  );
  --toggle-thumb-color: #f3f3f3;
  --toggle-box-shadow-color: rgba(22, 22, 22, 0.6);

  /* tablet */
  --menu-text-color: #fff;
  --menu-activ-text-color: #9bb537;
  --toggle-desktop-box-shadow-color: rgba(22, 22, 22, 0.6);
  /* HEADER BÖLÜMÜ SONU */

  /* GLOBAL */
  --page-bg: #161616;
  --text-color: #f8f8f8;
  /* GLOBAL SONU */

  /* FAVORITES BÖLÜMÜ */
  --category-btn-border: rgba(255, 255, 255, 0.2);
  --category-btn-color: rgba(255, 255, 255, 0.3);
  --empty-text-color: #ffffff;
  /* FAVORITES BÖLÜMÜ SONU */

  /* #region PAGINATION */
  .pagination button {
    background-color: #050505;
    color: #fff;
    border: 1px rgba(255, 255, 255, 0.3);
  }

  .pagination button:disabled {
    color: rgba(248, 248, 248, 0.5);
  }

  .nextpage:not(:disabled),
  .lastpage:not(:disabled) {
    background-color: #9bb537;
    color: #050505;
  }
  /* #endregion */
}